<% @title = "仕事情報の編集画面" %>

<h2>仕事情報の編集</h2>

<%= form_for(@bookmark, :url => {:controller => "bookmarks", :action => "update"}, :method => "put") do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_tag '更新' %>
<% end %>

<br />
<%= link_to '仕事状態詳細画面へ', :controller => "bookmarks", :action => "show", :id => @bookmark %> &nbsp;
<%= link_to '仕事状態一覧画面へ', :controller => "desktop_bookmark", :action => "index" %>
