<%# -*- coding: utf-8 -*- %>
操作一覧<br>
<ul>
<li><%= link_to "仕事の一覧", :action => "index" %></li>
<li><%= link_to "作業の一覧", :action => "index" %></li>
<li><%= link_to "作業を登録", :controller => "tasks", :action => "new" %></li>
<li><%= "いんぽーと" %></li>
<li><%= "えくすぽーと" %></li>
</ul>
