<%# -*- coding: utf-8 -*- %>
<%= javascript_include_tag "time_edition" %>
<%= stylesheet_link_tag "timeedition" %>

<%
  def array_to_cell(array, start)
     array_size = array.size
    (array[start-array_size..-1]+array[0..start-1]).uniq.map{|w| "#{w} "}.join.gsub(/\s$/, "")
  end

  ten = [0,1,2,3,4,5,6,7,8,9]
  six = [0,1,2,3,4,5]

  if Bookmark.current == nil
   duration = 0
  else
    duration = (Time.now - Bookmark.current.created_at).to_i
  end
%>
<!-- 
     style="animation-delay:~~~" は，
     ページ遷移時やタブを閉じた場合にもストップウォッチの表示をリセットしないための記述
     jQueryでCSS書き換えてもアニメーションに反映されず，
     css.erbで設定しようとしてもnot modifiedで更新できないので，
     ここに無理矢理突っ込んだ．
-->
<div class="container">
  <input id="start" name="controls" type="radio" />
  <input id="stop" name="controls" type="radio" />
  <div class="timer">
    <div class="cell">
      <div class="numbers tenhour moveten" style="animation-delay: <%= -(duration%360000) %>s">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell">
      <div class="numbers hour moveten" style="animation-delay: <%= -(duration%36000) %>s">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell divider"><div class="numbers">:</div></div>
    <div class="cell">
      <div class="numbers tenminute movesix" style="animation-delay: <%= -(duration%3600) %>s">0 1 2 3 4 5</div>
    </div>
    <div class="cell">
      <div class="numbers minute moveten" style="animation-delay: <%= -(duration%600) %>s">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell divider"><div class="numbers">:</div></div>
    <div class="cell">
      <div class="numbers tensecond movesix" style="animation-delay: <%= -(duration%60) %>s">0 1 2 3 4 5</div>
    </div>
    <div class="cell">
      <div class="numbers second moveten" style="animation-delay: <%= -(duration%10) %>s">0 1 2 3 4 5 6 7 8 9</div>
    </div>
  </div>
  <%= render :partial => "desktop_bookmark/selector", :locals => {:work => @selected_work, :tasks => @selected_tasks} %>
</div>

<!-- Lets load up prefixfree first -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->

<% if Bookmark.current != nil %>
<script type="text/javascript">
    $(document).ready(function(){
	$('#time_edition input:radio#start').click();
    });
</script>
<% end %>
