<%# -*- coding: utf-8 -*- %>


<%= javascript_include_tag "time_edition" %>
<%= stylesheet_link_tag "timeedition" %>
<div class="container">
  <input id="start" name="controls" type="radio" />
  <input id="stop" name="controls" type="radio" />
  <div class="timer">
    <div class="cell">
      <div class="numbers tenhour moveten">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell">
      <div class="numbers hour moveten">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell divider"><div class="numbers">:</div></div>
    <div class="cell">
      <div class="numbers tenminute movesix">0 1 2 3 4 5 6</div>
    </div>
    <div class="cell">
      <div class="numbers minute moveten">0 1 2 3 4 5 6 7 8 9</div>
    </div>
    <div class="cell divider"><div class="numbers">:</div></div>
    <div class="cell">
      <div class="numbers tensecond movesix">0 1 2 3 4 5 6</div>
    </div>
    <div class="cell">
      <div class="numbers second moveten">0 1 2 3 4 5 6 7 8 9</div>
    </div>
  </div>

  <% if Task.current != nil
       work_option_tag = options_for_select(Work.options_for_select, Work.current.id).html_safe
     else
       work_option_tag = options_for_select(Task.options_for_select).html_safe
     end %>

  <div id="selector">
    <div id="work_selector">
      <% if Work.current == nil %>
        <%= form_tag(:controller => "desktop_bookmark", :action => "start") do %>
          <%= select_tag("work", work_option_tag) %>
        <% end %>
      <% else %>
        <%= select_tag("work", work_option_tag, {:disabled => true}) %>
      <% end %>
    </div>
    <div id="task_selector">
      <%= select_tag("task", work_option_tag) %>
    </div>
  </div>
  <% status = Task.current ? "stop" : "start" %>
  <div class="button">
    <label for="<%= status %>" id="start"></label>
  </div>
</div>

<!-- Lets load up prefixfree first -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->

<% if Task.current == nil %>
<% else %>
  <%= form_tag(:controller => "tasks", :action => "stop") do %>
    <%= select_tag("task", work_option_tag, {:disabled => true}) %>
<br>
    <%= text_area "bookmark", "description", :cols => 20, :rows => 3 %>
  <% end %>
<% end %>
