<%# -*- coding: utf-8 -*- %>
<% @title = "作業状態一覧" %>

<script type="text/javascript">
<!--
function link(id){
  document.location = "http://localhost:3000/desktop_bookmark/"+id+"phoenix"
}
//-->
</script>

<%= link_to "作業を開始", :controller => "bookmarks", :action => "new" %>　<%# link_to "作業を中断", :controller => "bookmarks", :action => "stop" %>

<h2>作業状態一覧</h2>

<table>
  <col class="title">
  <col class="durations">
  <col class="operations">
  <% for bookmark in @bookmarks %>
  <tr>
    <% bookmark.name == nil ? name = "作業中" : name = bookmark.name %>
    <td class="title"><%= link_to name, :controller => "bookmarks", :action => "show", :id => bookmark %></td>
    <td class="duration"><nobr> (<%= bookmark.start_time.strftime("%Y/%m/%d %H:%M") %> 〜 <%= bookmark.end_time != nil ? bookmark.end_time.strftime("%Y/%m/%d %H:%M") : "" %>)</nobr></td>
    <td class="operations">
      <%= link_to image_tag("edit.gif", :title => "作業情報編集"), :controller => "bookmarks", :action => "edit", :id => bookmark %>
      <%= link_to image_destroy('作業状態削除'),  {:controller => "bookmarks", :action => "destroy", :bookmark_id => bookmark},
      :confirm => '本当に削除してよろしいですか?', :method => :get %>
      <form action="#">
        <input type="button" value="作業状態復元" onclick="link(<%= bookmark.id %>)">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate(@bookmarks, :previous_label => '&#171;前', :next_label => '次&#187;') %>

<%= form_tag({:action => 'discover'}, :method => :get) do %>
  <p><h2><label for="bookmark_work">作業状態の検索</label></h2><br>
  <%= text_field :bookmark, :work, { :size => 50} %></p>
  <%= submit_tag 'Open' %>
<% end %>

<br>
<hr>

<a href="/explication/tips.html">Tips</a>

<% if false %>
  <%= form_tag :action => 'discover_keyword' do %>
    <p><label for="bookmark_keyword">キーワードのインクリメンタルサーチ(実験版)</label><br>
    <%= text_field_with_auto_complete :bookmark, :keyword %></p>
  <% end %>
<% end %>
