<%# -*- coding: utf-8 -*- %>
<% @title = "作業一覧" %>

<script type="text/javascript">
  <!--
      function link(id){
      document.location = "http://localhost:3000/desktop_bookmark/"+id+"phoenix"
      }
      //-->
</script>
<div style="height:80px;width:80px;border-radius:40px;background: palegreen;"></div>


<%= render :partial => "time_edition" %>

<%= render :partial => "tasks/list", :locals => {:tasks => @tasks} %>

<%= form_tag({:action => 'discover'}, :method => :get) do %>
  <p><h2><label for="bookmark_work">検索</label></h2><br>
    <%= text_field :bookmark, :work, { :size => 50} %></p>
  <%= submit_tag 'Open' %>
<% end %>

<br>
<hr>

<a href="/explication/tips.html">Tips</a>

<% if false %>
  <%= form_tag :action => 'discover_keyword' do %>
    <p><label for="bookmark_keyword">キーワードのインクリメンタルサーチ(実験版)</label><br>
    <%= text_field_with_auto_complete :bookmark, :keyword %></p>
  <% end %>
<% end %>
