<tr>
  <td>
    <%= colored_state(task.state) %>
  </td>
  <td><%= link_to task.name, task %></td>
  <td>
    <%= form_for task do |f| %>
      <%= f.text_field :deadline , class: "datetimepicker form-control" %>
    <% end %>
  </td>
  <td><%= link_to (fa_icon 'play'), continue_task_path(task) %></td>
  <td><%= link_to (fa_icon 'pencil'), edit_task_path(task) %></td>
  <td><%= link_to (fa_icon "trash-o"),
          task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
