<tr>
  <td>
    <% if task.status %>
      <%= link_to '<span class="icon-ok-sign"></span>'.html_safe,
          :id         => task.id,
          :controller => "tasks",
          :action     => "update_status",
          :status     => false %>
    <% else %>
      <%= link_to '<span class="icon-remove-sign"></span>'.html_safe,
          :id         => task.id,
          :controller => "tasks",
          :action     => "update_status",
          :status     => true %>
    <% end %>
  </td>
  <td><%= link_to task.name, task %></td>
  <td>
    <%= form_tag( { controller: "tasks", action: "update_deadline", id: task.id} ) do %>
      <%= text_field_tag "deadline", task.deadline , class: "datetimepicker" %>
    <% end %>
  </td>
  <td><%= link_to '<span class="icon-play"></span>'.html_safe,
          :id         => task.id,
          :controller => "tasks",
          :action     => "continue" %></td>
  <td><%= link_to '<span class="icon-pencil"></span>'.html_safe,
          edit_task_path(task) %></td>
  <td><%= link_to '<span class="icon-trash"></span>'.html_safe,
          task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
