<%# -*- coding: utf-8 -*- %>
<tr class="task_item">
  <% task.name == nil ? name = "名称未設定" : name = task.name %>
  <td class="title">
    <%= link_to name, :controller => "tasks", :action => "show", :work_id => task.work.id, :task_id => task.id %>
  </td>
  <td class="duration"><nobr>
      (<%= task.created_at.strftime("%Y/%m/%d %H:%M") %> 〜 <%= task.updated_at.strftime("%Y/%m/%d %H:%M") %>)
  </nobr></td>
  <td class="operations">
    <%= link_to image_tag("edit.gif", :title => "作業情報編集"), :controller => "tasks", :action => "edit", :work_id => task.work.id, :task_id => task.id %>
    <%= link_to image_destroy('作業状態削除'),  {:controller => "tasks", :action => "destroy", :work_id => task.work.id, :task_id => task.id},
    :confirm => '本当に削除してよろしいですか?', :method => :get %>
    <form action="#">
      <input type="button" value="作業状態復元" onclick="link(<%= task.id %>)">
    </form>
  </td>
</tr>
