<p id="notice"><%= notice %></p>

<h1>
  <%= @task.name %>
  <%= link_to '<i class="icon-play"></i>'.html_safe,
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @task.keyword %>
</p>

<p>
  <strong>Mission:</strong>
  <%= link_to @task.mission.name, @task.mission %>
</p>

<hr>

<%= render :partial => "unified_histories/history_usages",
    :locals => {:instance => @task} %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
