<h1>
  <%= @task.name %>
  <%= link_to '<span class="icon-play"></span>'.html_safe,
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@task.state) %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @task.keyword %>
</p>

<p>
  <strong>Mission:</strong>
  <% if @task.mission.nil? %>
    No mission
  <% else %>
    <%= link_to @task.mission.name, @task.mission %>
  <% end %>
</p>

<hr>

<%= render :partial => "unified_histories/history_usages",
    :locals => {:instance => @task} %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
