<h1>
  <%= @task.name %>
  <%= link_to '<i class="fa fa-play"></i>'.html_safe,
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline.to_s(:date) %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@task.state) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @task.keyword %>
</p>

<% unless @task.mission.nil? %>
  <p>
    <strong>Mission:</strong>
    <%= link_to @task.mission.name, @task.mission %>
  </p>
<% end %>

<% unless @task.time_entries.nil? %>
  <p>
    <strong>Time Entries:</strong><br>
    <% @task.time_entries.each do |time_entry| %>
      <%= link_to time_entry.name, time_entry %>(<%= time_entry.duration %>)
      <br>
    <% end %>
  </p>
<% end %>

<hr>

<p>
  <strong>File History:</strong><br>
  <% @task.file_histories.each do |fh| %>
    <%= render :partial => "unified_histories/file_history_item",
        :locals => {:file_history => fh} %>
    <br>
  <% end %>
</p>

<p>
  <strong>Web History:</strong><br>
  <% @task.web_histories.each do |wh| %>
    <%= render :partial => "unified_histories/web_history_item",
        :locals => {:web_history => wh} %>
  <% end %>
  <div class="float-clear"></div>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
