<h1>
  <%= @task.name %>
  <%= link_to '<i class="fa fa-play"></i>'.html_safe,
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@task.state) %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @task.keyword %>
</p>

<p>
  <strong>Mission:</strong>
  <% if @task.mission.nil? %>
    No mission
  <% else %>
    <%= link_to @task.mission.name, @task.mission %>
  <% end %>
</p>

<hr>

<p>
  <strong>File History:</strong>
  <% @task.file_histories.each do |fh| %>
    <%= render :partial => "unified_histories/file_history_item",
        :locals => {:file_history => fh} %>
  <% end %>
</p>

<p>
  <strong>Web History:</strong>
  <% @task.web_histories.each do |wh| %>
    <%= render :partial => "unified_histories/web_history_item",
        :locals => {:file_history => wh} %>
  <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
