<h1>
  <%= colored_state(@task.state) %>
  <span class="task"><%= @task.name %></span>
  <%= link_to (fa_icon "play"),
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline.to_s unless @task.deadline.nil? %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @task.keyword %>
</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a data-toggle="tab" href="#timeline">Timeline</a>
  </li>
  <li>
    <a data-toggle="tab" href="#file-histories">File histories</a>
  </li>
  <li>
    <a data-toggle="tab" href="#web-histories">Web histories</a>
  </li>
</ul>

<div class="field">
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
      <% unless @task.duration.nil? %>
        <strong>Range:</strong>(<%= @task.duration.range %>)
        <table>
          <!-- For work time timeline -->
          <tr>
            <td><%= fa_icon "clock-o", class: "history-icon" %></td>
            <td>Work time</td>
            <td class="timeline-time"><%= seconds_to_s @task.work_time_length %></td>
            <td>
              <% @task.duration.range.each do |date| %>
                <%= colored_box(@task.work_time_length_of_day(date)) %>
              <% end %>
            </td>
          </tr>

          <%= render partial: "unified_histories/timeline",
                     collection: @task.integrated_histories.sort{|a,b| b.importance <=> a.importance},
                     as: :integrated_history,
                     locals: {range: @task.duration.range} %>
        </table>
      <% end %>
    </div>

    <div class="tab-pane" id="file-histories">
      <%= render partial: "unified_histories/file_history_item",
                 collection: @task.file_histories,
                 as: :file_history %>
    </div>

    <div class="tab-pane" id="web-histories">
      <%= render partial: "unified_histories/web_history_item",
                 collection: @task.web_histories,
                 as: :web_history %>
      <div class="float-clear"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
