<h1>
  <%= @task.name %>
  <%= link_to (fa_icon "play"),
      :id         => @task.id,
      :controller => "tasks",
      :action     => "continue" %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline.to_s unless @task.deadline.nil? %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@task.state) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @task.keyword %>
</p>

<% unless @task.mission.nil? %>
  <p>
    <strong>Mission:</strong>
    <%= link_to @task.mission.name, @task.mission %>
  </p>
<% end %>

<% unless @task.time_entries.nil? %>
  <p>
    <strong>Time Entries:</strong><br>
    <% @task.time_entries.each do |time_entry| %>
      <%= link_to time_entry.name, time_entry %>(<%= time_entry.duration %>)
      <br>
    <% end %>
  </p>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a data-toggle="tab" href="#timeline">Timeline</a>
  </li>
  <li>
    <a data-toggle="tab" href="#file-histories">File histories</a>
  </li>
  <li>
    <a data-toggle="tab" href="#web-histories">Web histories</a>
  </li>
</ul>

<div class="field">
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
      <strong>Range:</strong>(<%= @task.duration.range %>)
      <table>
        <%= render partial: "unified_histories/timeline",
                   collection: @task.integrated_histories, as: :integrated_history,
                   locals: {range: @task.duration.range} %>

        <!-- For work time timeline -->
        <tr>
          <td><%= fa_icon "clock-o", class: "history-icon" %></td>
          <td>Work time</td>
          <td><span class="timeline-margin"/></td>
          <% @task.duration.range.each do |date| %>
            <%= colored_box(@task.work_time_length_of_day(date)) %>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="tab-pane" id="file-histories">
        <% @task.file_histories.each do |fh| %>
          <%= render :partial => "unified_histories/file_history_item",
                     :locals => {:file_history => fh} %>
          <br>
        <% end %>
    </div>

    <div class="tab-pane" id="web-histories">
      <% @task.web_histories.each do |wh| %>
        <%= render :partial => "unified_histories/web_history_item",
                   :locals => {:web_history => wh} %>
      <% end %>
      <div class="float-clear"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
