<%# -*- coding: utf-8 -*- %>

<tr class="item work depth<%= depth %>">
  <td class="tree">
    <div class="dummy" style="min-width: <%= 30*depth %>px;"></div>
    <div class="expandable">
    </div>
    <div class="check">
    </div>
    <div class="name">
      <%= link_to work.name, :controller => "works", :action => "show", :id => work.id %>
    </div>
  </td>
  <td class="deadline <%= work.level %>">
    <%= if work.deadline == nil
	  "締切未設定"
	else
	  work.deadline.strftime("%Y/%m/%d (%a)") + "(残り#{work.deadline.yday - Time.now.yday}日)"
	end %>
  </td>
  <td class="edit">
    <%= link_to "", :controller => "works", :action => "edit", :id => work.id %>
  </td>
  <td class="delete">
    <%= link_to "", {:controller => "works", :action => "destroy", :work_id => work.id}, :confirm => "本当に削除してよろしいですか？" %>
  </td>
</tr>

<% children = (work.children + work.tasks).sort{|a, b| a.created_at <=> b.created_at } %>
<% if children != [] %>
  <% children.each do |item| %>
    <% if item.class.name == "Work" %>
      <%= render :partial => "works/table_item", :locals => {:work => item, :depth => depth+1} %>
    <% else %>
      <%= render :partial => "tasks/table_item", :locals => {:task => item, :depth => depth+1} %>
    <% end %>
  <% end %>
<% end %>
