<%# -*- coding: utf-8 -*- %>
<!--
<tr class="work_item">
  <% work.name == nil ? name = "名称未設定" : name = work.name %>
  <td class="title">
    <%= link_to name, :controller => "works", :action => "show", :id => work %>
  </td>
  <td class="duration"><nobr>
      (<%= work.created_at.strftime("%Y/%m/%d %H:%M") %> 〜 <%= work.updated_at.strftime("%Y/%m/%d %H:%M") %>)
  </nobr></td>
  <td class="operations">
    <%= link_to image_tag("edit.gif", :title => "仕事情報編集"), :controller => "works", :action => "edit", :id => work %>
    <%= link_to image_destroy('仕事削除'),  {:controller => "works", :action => "destroy", :work_id => work},
    :confirm => '本当に削除してよろしいですか?', :method => :get %>
  </td>
</tr>
-->

<!-- divバージョン -->
<div class="work_item">
  <div class="name"><%= link_to work.name, :controller => "works", :action => "show", :id => work.id %></div>
  <div class="dates">
    <div class="registed_at">登録： <%= work.created_at.strftime("%Y/%m/%d (%a) %H:%M") %></div>
    <div class="deadline">締切： <%= work.deadline.strftime("%Y/%m/%d (%a) %H:%M") %></div>
  </div>
  <div class="reset"></div>
  <div class="description"><%= work.description.gsub(/\r?\n/, "<br>").html_safe %></div>
  <div class="commands">
    <%# link_to image_tag("edit.gif", :title => '仕事情報編集'), :controller => "works", :action => "edit", :work_id => work %>
    <%= link_to image_destroy('仕事削除'),  {:controller => "works", :action => "destroy", :work_id => work},
    :confirm => '本当に削除してよろしいですか?', :method => :get %>
    あと完了とか．
  </div>
</div>
