<%# -*- coding: utf-8 -*-  %>
<% @title = "仕事の詳細画面" %>

<div class="work_header">
  <div class="title">
    <h2><%= @work.name %> (<%= jtime(@work.created_at) %>)</h2>
  </div>
</div>
<div style="clear: both"></div>
<div class="keyword">
  <div class="keyword_header">
    keyword:
  </div>
  <div class="keyword_body">
    <%= @work.keyword %>
  </div>
  <div class="keyword_blank">    
  </div>
  <div style="clear: both"></div>
</div>  
<% unless ["", nil].include? @work.description %>
  <br>
  <div class="work_description">
    詳細:<br>
    <div style="border:1px solid gray; padding:5px; padding: 6px;">
      <%= @work.description.gsub(/\n/){"<br>"}.html_safe %>
    </div>
  </div>
<% end %>

</br>

<%= render :partial => "bookmarks/list", :locals => {:work => @work} %>

<hr>
<%= link_to "削除", {:action => "destroy", :work_id => @work },
:confirm => "本当に削除してよろしいですか" %> &nbsp;
<%= link_to "作業情報を編集", :action => "edit", :id => @work %> &nbsp;
<%= link_to "戻る", :controller => "desktop_bookmark", :action => "index" %>
