<%# -*- coding: utf-8 -*-  %>
<% @title = "仕事の詳細画面" %>
<%= stylesheet_link_tag "work" %>

<div id="name">
  <h2><%= @work.name %></h2>
</div>

<div id="left">
  <% unless ["", nil].include? @work.description %>
    <br>
    詳細:<br>
    <div id="description">
      <%= @work.description.gsub(/\r?\n/){"<br>"}.html_safe %>
    </div>
  <% end %>
  
</br>

<%= render :partial => "tasks/list", :locals => {:tasks => @work.tasks} %>
</div>

<div id="right">
  <div id="info">
    登録：<%= @work.created_at.strftime("%Y/%m/%d (%a) %H:%M") %><br>
    期限：<%= @work.deadline.strftime("%Y/%m/%d (%a) %H:%M") rescue "未設定" %><br>
    (残り<%= (@work.deadline.yday - Time.now.yday) rescue "?" %>日)
  </div>
</div>
<div class="reset"></div>
<hr>
<%= link_to "削除", {:action => "destroy", :work_id => @work },
:confirm => "本当に削除してよろしいですか" %> &nbsp;
<%= link_to "作業情報を編集", :action => "edit", :id => @work %> &nbsp;
<%= link_to "戻る", :controller => "desktop_bookmark", :action => "index" %>
