<% @title = "計算機外部の統一的履歴情報の編集画面" %>

<h2>計算機外部の統一的履歴情報の編集</h2>

<%= form_tag({:controller => "web_histories", :action => "destroy", :bookmark_id => @bookmark}, :method => :delete) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<br />
<%= link_to '仕事状態の詳細へ戻る', :controller => "bookmarks", :action => "show", :id => @bookmark %>
<%= link_to '仕事状態の一覧へ戻る', :controller => "desktop_bookmark", :action => "index" %>
