<tr>
  <td><%= link_to time_entry.name, time_entry %></td>
  <td>
    <% unless time_entry.task.nil? %>
      <%= link_to time_entry.task.name, time_entry.task %>
    <% else %>
      no task
    <% end %>
  </td>
  <td><%= time_entry.start_time %></td>
  <td><%= time_entry.end_time %></td>
  <td><%= render :partial => "time_entries/start_or_stop_button", :locals => {:time_entry => time_entry} %></td>
  <td><%= link_to '<span class="icon-pencil"></span>'.html_safe,
          edit_time_entry_path(time_entry) %></td>
  <td><%= link_to '<span class="icon-trash"></span>'.html_safe,
          time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
