<h1>
  <%= @time_entry.name %>
  <%= render :partial => "time_entries/start_or_stop_button", :locals => {:time_entry => @time_entry} %>
</h1>

<p>
  <strong>Keywords:</strong>
  <%= @time_entry.keyword %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_entry.comment %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @time_entry.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_entry.end_time %>
</p>

<p>
  <strong>Task:</strong>
  <% unless @time_entry.task.nil? %>
    <%= link_to @time_entry.task.name, @time_entry.task %>
  <% else %>
    no task
  <% end %>
</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a data-toggle="tab" href="#timeline">Timeline</a>
  </li>
  <li>
    <a data-toggle="tab" href="#file-histories">File histories</a>
  </li>
  <li>
    <a data-toggle="tab" href="#web-histories">Web histories</a>
  </li>
</ul>

<div class="field">
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
    </div>

    <div class="tab-pane" id="file-histories">
        <% @time_entry.file_histories.each do |fh| %>
          <%= render :partial => "unified_histories/file_history_item",
                     :locals => {:file_history => fh} %>
          <br>
        <% end %>
    </div>

    <div class="tab-pane" id="web-histories">
        <% @time_entry.web_histories.each do |wh| %>
          <%= render :partial => "unified_histories/web_history_item",
                     :locals => {:web_history => wh} %>
        <% end %>
        <div class="float-clear"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
