<p id="notice"><%= notice %></p>

<h1>
  <%= @time_entry.name %>
  <%= render :partial => "time_entries/start_or_stop_button", :locals => {:time_entry => @time_entry} %>
</h1>

<p>
  <strong>Keyword:</strong>
  <%= @time_entry.keyword %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_entry.comment %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @time_entry.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_entry.end_time %>
</p>

<p>
  <strong>Task:</strong>
  <% unless @time_entry.task.nil? %>
    <%= link_to @time_entry.task.name, @time_entry.task %>
  <% else %>
    no task
  <% end %>
</p>

<h2>File Histories</h2>
<% @time_entry.file_histories.each do |file_history| %>
  <%= render :partial => "unified_histories/file_history_item",
      :locals => {:file_history => file_history} %><br>
<% end %>

<h2>Web Histories</h2>
<% @time_entry.web_histories.each do |web_history| %>
  <%= render :partial => "unified_histories/web_history_item",
      :locals => {:web_history => web_history} %><br>
<% end %>


<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
