<tr>
  <td>
    <%= colored_state(mission.state) %>
  </td>
  <td><%= link_to mission.name, mission %></td>
  <td>
    <%= form_tag( { controller: "missions", action: "update_deadline", id: mission.id} ) do %>
      <%= text_field_tag "deadline", mission.deadline , class: "datetimepicker form-control" %>
    <% end %>
  </td>
  <td><%= link_to (fa_icon "pencil"),
          edit_mission_path(mission) %></td>
  <td><%= link_to (fa_icon "trash-o"),
          mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
