<head>
<%= stylesheet_link_tag "fullcalendar" %>
<%= javascript_include_tag "moment" %>
<%= javascript_include_tag "fullcalendar" %>
<%= javascript_include_tag "lang-all" %>
<%= javascript_include_tag "missions" %>
<%= csrf_meta_tag %>
</head>

<div id="calendar"></div>
