<h1><%= @mission.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @mission.deadline.to_s(:date) unless @mission.deadline.nil? %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@mission.state) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @mission.keyword %>
</p>

<% unless @mission.parent.nil? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @mission.parent.name, @mission.parent %>
</p>
<% end %>

<% unless @mission.children.nil? %>
<p>
  <strong>Children:</strong><br>
  <% @mission.children.each do |child| %>
    <%= colored_state(child.state) %>
    <%= link_to child.name, child %>
    deadline: <%= child.deadline.to_s(:date) unless child.deadline.nil? %>
    <br>
  <% end %>
</p>
<% end %>

<% unless @mission.tasks.nil? %>
<p>
  <strong>Tasks:</strong><br>
  <% @mission.tasks.each do |task| %>
    <%= colored_state(task.state) %>
    <%= link_to task.name, task %>
    deadline: <%= task.deadline.to_s(:date) unless task.deadline.nil? %>
    <br>
  <% end %>
</p>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a data-toggle="tab" href="#timeline">Timeline</a>
  </li>
  <li>
    <a data-toggle="tab" href="#file-histories">File histories</a>
  </li>
  <li>
    <a data-toggle="tab" href="#web-histories">Web histories</a>
  </li>
</ul>

<div class="field">
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
      <strong>Range:</strong>(<%= @mission.duration.range %>)
      <table>
        <%= render partial: "unified_histories/timeline",
                   collection: @mission.integrated_histories, as: :integrated_history,
                   locals: {range: @mission.duration.range} %>

        <!-- For work time timeline -->
        <tr>
          <td><%= fa_icon "clock-o", class: "history-icon" %></td>
          <td>Work time</td>
          <td><span class="timeline-margin"/></td>
          <% @mission.duration.range.each do |date| %>
            <%= colored_box(@mission.work_time_length_of_day(date)) %>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="tab-pane" id="file-histories">
      <% @mission.file_histories.each do |fh| %>
        <%= render :partial => "unified_histories/file_history_item",
                   :locals => {:file_history => fh} %>
        <br>
      <% end %>
    </div>

    <div class="tab-pane" id="web-histories">
      <% @mission.web_histories.each do |wh| %>
        <%= render :partial => "unified_histories/web_history_item",
                   :locals => {:web_history => wh} %>
      <% end %>
      <div class="float-clear"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
