<h1><%= @mission.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @mission.deadline.to_s(:date) %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@mission.state) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @mission.keyword %>
</p>

<% unless @mission.parent.nil? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @mission.parent.name, @mission.parent %>
</p>
<% end %>

<% unless @mission.children.nil? %>
<p>
  <strong>Children:</strong><br>
  <% @mission.children.each do |child| %>
    <%= colored_state(child.state) %>
    <%= link_to child.name, child %>
    deadline: <%= child.deadline.to_s(:date) %>
    <br>
  <% end %>
</p>
<% end %>

<% unless @mission.tasks.nil? %>
<p>
  <strong>Tasks:</strong><br>
  <% @mission.tasks.each do |task| %>
    <%= colored_state(task.state) %>
    <%= link_to task.name, task %>
    deadline: <%= task.deadline.to_s(:date) %>
    <br>
  <% end %>
</p>
<% end %>

<hr>

<% if @mission.duration %>
  <p>
    <strong>Timeline:</strong>(<%= @mission.duration.range %>)<br>
    <table>
      <% @grouped_histories.each do |path, uhs| %>
        <tr>
          <td><%= history_icon(uhs.first) %>
          </td>
          <td>
            <div class="overflow-hidden">
              <%= link_to uhs.first.title,
                  { :id         => uhs.first.id,
                    :controller => "unified_histories",
                    :action     => "restore" },
                  { :class      => "timeline-item" }%>
            </div>
          </td>
          <td><span class="timeline-margin"/></td>
          <% @sec_per_days_of_histories[path].each do |sec| %>
            <%= colored_box(sec) %>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td><span class="timeline-item">time entry</span></td>
        <td><span class="timeline-margin"/></td>
        <% @sec_per_days_of_mission.each do |sec| %>
          <%= colored_box(sec) %>
        <% end %>
      </tr>
    </table>
  </p>

  <hr>
<% end %>

<p>
  <strong>File History:</strong><br>
  <% @mission.file_histories.each do |fh| %>
    <%= render :partial => "unified_histories/file_history_item",
        :locals => {:file_history => fh} %>
    <br>
  <% end %>
</p>

<p>
  <strong>Web History:</strong><br>
  <% @mission.web_histories.each do |wh| %>
    <%= render :partial => "unified_histories/web_history_item",
        :locals => {:web_history => wh} %>
  <% end %>
  <div class="float-clear"></div>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
