<h1><%= @mission.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @mission.deadline %>
</p>

<p>
  <strong>State:</strong>
  <%= colored_state(@mission.state) %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @mission.keyword %>
</p>

<% unless @mission.parent.nil? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @mission.parent.name, @mission.parent %>
</p>
<% end %>

<hr>

<%= render :partial => "unified_histories/history_usages",
    :locals => {:instance => @mission} %>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
