<tr class="draggable" id="<%= unified_history.id %>">
  <td><%= unified_history.title %></td>
  <td><%= unified_history.path %></td>
  <td><%= unified_history.start_time %> - <%= unified_history.end_time %></td>
</tr>
