<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @unified_history.path %>
</p>

<p>
  <strong>Title:</strong>
  <%= @unified_history.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unified_history.type %>
</p>

<p>
  <strong>R path:</strong>
  <%= @unified_history.r_path %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @unified_history.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @unified_history.end_time %>
</p>

<%= link_to 'Edit', edit_unified_history_path(@unified_history) %> |
<%= link_to 'Back', unified_histories_path %>
